* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */
}

input, textarea {
  -webkit-user-select: text;  /* Allow selection for input elements */
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  height: auto;
  overflow-y: scroll;
}

.content-padded {
  padding: 10px;
}
