<ion-view title="" class="prelogin">
	<ion-content>
		<div class="row logo-mark">
			<div class="col col-25 center">
				<img src="img/logo.svg">
			</div>
		</div>

		<div class="row logo-type">
			<div class="col col-80 center">
				<img src="img/logo-type.svg" class="logo">
			</div>
		</div>



	    <h1>Have an account?</h1>
	    <div class="row">
	    	<div class="col col-75 center">
	    		<p>
			    	Accounts are optional, but allow you
			    	to back up your settings and such.
			    	It's super quick, really.
			    </p>
	    	</div>
	    </div>


		<div class="row">
			<div class="col col-50">
				<button class="button button-block" ng-click="signUp()">
					Sign Up
				</button>
			</div>
			<div class="col col-50">
				<button class="button button-block" ng-click="signIn()">
					Sign In
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col col-50 center">
				<button class="button button-block button-clear" ng-click="skip()">
					Skip <i class="icon ion-ios7-arrow-right"></i>
				</button>
			</div>
		</div>

	</ion-content>
</ion-view>
