<div class="search">

	<div class="bar bar-subheader">
	  <label class="item item-input search">
			    <i class="icon ion-search placeholder-icon"></i>
			    <input type="text" placeholder="Search for your school" ng-model="query" ng-change="search(query)">
			</label>
	</div>

	<ion-view title="Follow a Team">

		<ion-content>

			<div ng-hide="userQueried" class="list-title ng-hide">
					Currently supported schools
					<hr>
			</div>

			<div class="list">
				<a class="item item-thumbnail-left item-icon-right" href="#" ng-repeat="school in searchResults" ng-click="selectSchool(school)">
					<img src="https://placekitten.com/g/40/40">
					<h2 class="name">{{ school.fullName }}</h2>
				    <p class="location">{{ school.city }}, {{ school.state }}</p>
				    <p class="division">Division {{ school.division }}</p>
				    <i class="icon ion-ios7-arrow-right"></i>
				</a>
			</div>

			</div>
		</ion-content>
	</ion-view>


</div>

