<ion-nav-bar delegate-handle="team-nav" class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
       	Back
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
    	<button class="button button-clear" ng-click="doSomething()">
        	Follow +
    	</button>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-view title="Team">
	<ion-content has-header="true" padding="true">

		<h1>Team</h1>
		<a ui-sref="game" class="button icon-right ion-chevron-right button-block button-positive">
		  Fayetteville Bulldogs vs Southside
		</a>

	</ion-content>
</ion-view>
