.prelogin {
    text-align:center;

    h1 {
        font-size: 28px;
    }

    .button-clear {
        color: #DAE140;
    }
}

.login, .signup {
    text-align:center;

    .item-input {
        background: white;
        margin:5px 0;
        input {
            background: white;
        }
    }
}
