<div class="row">
	<div class="col-sm-12"><h3>{{list.Name}}</h3></div>
</div>

<div class="row plant-list">
	<div class="col-sm-12">
		<ul class="list-group">
		
		  <li ui-sref="plant({plantId: plant._id, plant:plant, back: list.Name })" ng-repeat="plant in list.Plants" class="list-group-item">
		  	<strong ng-show="plant.CommonName">{{ plant.CommonName }} - </strong>{{ plant.LatinName }}
		  </li>

		  <li class="list-group-item">
		  	<a ui-sref="add-plant({back: list.Name})">Add a Plant to your list</a>
		  </li>
		</ul>
	</div>
</div>