<div class="row">
	<div class="col-sm-12"><h3>{{list.Name}}</h3></div>
</div>

<div class="row plant-list">
	<div class="col-sm-6">
		<ul class="list-group">

		  <li  ng-repeat="plant in list.Plants" class="list-group-item">
		  	<span ui-sref="plant({plantId: plant._id, plant:plant, back: list.Name })"><strong ng-show="plant.CommonName">{{ plant.CommonName  | decodeURI  }} - </strong>{{ plant.LatinName }}</span>
		  	<a class="btn btn-clear pull-right" style="padding:0;" ng-click="removePlantModal(plant)"><i class="fa fa-times"></i></a>
		  </li>

		  <li class="list-group-item" ng-show="isUserOwner()">
		  	<a ui-sref="add-plant({back: list.Name, list:list})">Add a Plant to your list</a>
		  </li>
		</ul>
	</div>
</div>

<div>
  <tabset justified="true">
    <tab heading="Tolerances" select="makeToleranceChart()">
    	<h3>Tolerances:</h3>
		<div google-chart chart="toleranceChart" style="height:600px; width:100%;"></div>
    </tab>
    <tab heading="Timings" select="makeTimingsChart()">
    	<h3>Timings:</h3>
		<div google-chart chart="timingsChart" style="height:600px; width:100%;"></div>
    </tab>
    <tab heading="Uses" select="makeUsesChart()">
    	<h3>Uses:</h3>
		<div google-chart chart="usesChart" style="height:600px; width:100%;"></div>
    </tab>
    <tab heading="Functions" select="makeFunctionsChart()">
    	<h3>Functions:</h3>
		<div google-chart chart="functionsChart" style="height:600px; width:100%;"></div>
    </tab>
    <tab heading="Architecture" select="makeArchitectureChart()">
    	<h3>Architecture:</h3>
		<div google-chart chart="architectureChart" style="height:600px; width:100%;"></div>
    </tab>
    
  </tabset>
</div>