.button {
    border-left: none;
    border-top:none;

    &:active {
        border-right: 1px solid #196680;
        border-bottom: 1px solid #196680;
        color: #196680;
    }
}

.col.center {
    margin: 0 auto;
}

.padding {
    padding: 10px 10%;
}

.middle-container {
   display: table !important;
  width: 100% !important;
  height: 100% !important;

  .scroll {
    display: table-cell;
      vertical-align: middle;
      text-align: center;
  }
}

.pink-grad {
    background: #ed3180; /* Old browsers */
    background: -moz-linear-gradient(left,  #ed3180 0%, #8544a3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed3180), color-stop(100%,#8544a3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ed3180 0%,#8544a3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ed3180 0%,#8544a3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ed3180 0%,#8544a3 100%); /* IE10+ */
    background: linear-gradient(to right,  #ed3180 0%,#8544a3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed3180', endColorstr='#8544a3',GradientType=1 ); /* IE6-9 */
    color: #33CCFF;

    .button, .button:hover {
        color: #33CCFF;
    }
}
