.search .item-input {
  height: 35px;
  background: white;
  margin: 0; }
  .search .item-input input {
    background: white; }
.search .scroll-content {
  top: 88px; }
.search .list-title {
  text-align: left;
  padding: 10px 8px 0; }
  .search .list-title hr {
    background: #115971;
    border: none;
    height: 2px; }
.search .search {
  text-align: left; }
.search .list .item {
  border-top: 2px solid #092935;
  text-align: left;
  padding-left: 86px;
  padding-bottom: 8px; }
  .search .list .item:first-child {
    border-top: none; }
  .search .list .item:last-child {
    border-bottom: none; }
  .search .list .item img {
    border-radius: 10px;
    max-width: 65px; }
  .search .list .item .name {
    margin-top: 4px; }
  .search .list .item .location {
    font-size: 16px;
    color: #2387A8; }
  .search .list .item .division {
    font-size: 12px;
    color: #176A86; }
.search .item-thumbnail-left {
  min-height: 85px; }

.school-teams .item {
  padding: 10px 30px 10px 54px;
  min-height: 0;
  border: 1px solid #092935; }
.school-teams .icon {
  margin-top: -2px;
  font-size: 26px; }
.school-teams .sport {
  margin: 0; }
.school-teams .gender {
  font-size: 12px;
  line-height: 12px;
  color: #2387A8; }
